body {
    background-color: #4099E6;
  }
  
  .car div{
    width:100%;
    height: auto;
    text-align: center;

    margin: auto;
  }
  .car img{
    max-width: 1900px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 500px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
  }