#nav_temple1{
    width: 100%;
    height: 80px;
    background-color: #82131f;
    position: relative;
}

.position_menu{
    position: absolute;
    width: 61%;
    height: 20px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%; 
    background-color: blue; 
}
.menu{
    text-align: justify;
    display: inline-block;
    width: 70%;
    height: 20px;
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}
.menu::after{
    display: inline-block;
    content: '';
    width: 100%;
}
.nav_int{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    
}



.icon_position{
    position: absolute;
    text-align: justify;
    left: 85%;
    width: 15%;
    height: 20px;
    transform: translateY(-50%);
    background-color: blueviolet;
}
.nav_int1, .nav_int2, .nav_int3{
    display: inline-block; 
    
}
.icon_position::after{
    display: inline-block;
    content: '';
    width: 100%;
}
.nav_int3{
    position: relative;
    font-size: 20px;

}
.value_bag{
    top: 10px;
    right: 5px;
    position: absolute;
    font-size: 12px;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    font-weight: bold;

}


a{
    
    text-decoration:none;
    color: #ffffff;
    

}

/*=================Footer==================*/

.footer{
    position: relative;
    top:300px;
    width: 100%;
    height: 300px;

}
.cont{
    position: relative;
    width:80%;
    height:300px;
    left: 50%;
    transform: translateX(-50%);
}

.text1_footer,.text2_footer,.text3_footer{
    top:56px;
}
.text1_footer{
    position: absolute;
    top: 56px;
    width:219px;
    height:110px;
    background-color: #ffffff
}
.text_h_footer{
    line-height: 1.33;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color:#212121;
}
.text_p_footer{
    font-family:'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.33;
    color: #555555;
}
.text2_footer{
    position:absolute;
    top: 56px;
    width:166px;
    height:157px;
    left: 28%;
    background-color: #ffffff
}
.text_a_footer{
    text-decoration:none;
    color: #555555;
    line-height: 1.85;
}
.text3_footer{
    position: absolute;
    width:137px;
    height:58px;
    left: 50%;
    background-color: #ffffff;
}
.logo_footer{
    top:56px;
    position: absolute;
    left: 63%;
    width:363px;
    height:154px;
}

/*=================Form==================*/
.form{
    display:grid;
    grid-template-columns:  50% ;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
      "bloc_1_form bloc_1_form"
      "bloc_2_form bloc_3_form "
      "bloc_4_form bloc_4_form ";
      grid-gap:  0  20px;
}
.bloc_1_form{
    grid-area:bloc_1_form;
    background-color: red
}
.bloc_2_form{
    grid-area: bloc_2_form;
    background-color: blue;
    margin-left: auto;
   
    
   
}
.bloc_3_form{
    grid-area: bloc_3_form;
    background-color: darkgreen;
    
}
.bloc_4_form{
    grid-area: bloc_4_form;
    background-color: slateblue;
}

.aaa{
    
  
    
}


.form_cad_prod{
    width: 520px;
    height:800px;
   
}
.input_sl_1{
    width: 419px;
    height:37px;
    background-color: #f4f4f4;
    border-radius:5px;
    display: inline-block;
    position: absolute;
    right:0;
}
.text_labe_input{
    display: block;
    margin: 10px  0 10px;
    line-height: 37px;
    position: relative;
    
}
.cx_desc{
    width: 419px;
    border-radius:5px;
    height: 143px;
    right: 0;
    background-color: #f4f4f4;
    position: absolute;
    display: inline-block;
    resize: none;
    
}
.text_labe_input_de{
    margin: 10px  0 10px;
    display: block;
    line-height:143px;
    position: relative;

}
.tip{
    position: relative;
    width: 185px;
    height: 37px;
    border-radius:5px;
    right: 0;
    background-color: #f4f4f4;
}
span{
    padding-left:  19px;
    padding-right:  5px;
}
.ps_pr{
    display: inline-block;
    right: 0;
    position: absolute;
    height:100px;
}



.colun2{
    
}
.image{
   
}






/*===============style_global===============*/
.for{

    /* magem referencial referncia*/
   
    /*centralização*/
   
}


#main{
    display: grid;
    grid-template-rows: 30vh 30vh;
    grid-template-areas: "test1 test2";

}


.test1{
    grid-area: test1;
    background-color: #3c3c3c;
    position: relative;
   
}
.test2{
    grid-area: test2;
    background-color: #865555;
    position: relative;
}

 .ss{
    position:absolute; 
    width:100%;
    height: auto;
    padding-right: 3%;
    padding-left: 3%;
    background-color: azure;
    text-align: justify;                                                        
 }





.text_a_liks{
    text-decoration:none;
    color: #3c3c3c;
    line-height: 1.85;
}
.text_p{
    font-family:'Roboto', sans-serif;
    font-size: 14.5px;
    line-height: 1.33;
    color: #9c9c9c;
}
.text_h{
    line-height: 1.33;
    font-family:'Roboto', sans-serif;
    font-size: 20.5px;
    color:#9c9c9c;
}
.text_labe_input{
    font-size:11px;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    color: #3c3c3c;
}

.pd_1{
    

}